<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Name of source database... -->
      <setting name="Sitecore.SharedSource.ItemVersionTracker.SourceDatabase" value="master" />
      
      <!-- Name of target database... -->
      <setting name="Sitecore.SharedSource.ItemVersionTracker.TargetDatabase" value="web" />

      <!-- MaxVersion count... -->
      <setting name="Sitecore.SharedSource.ItemVersionTracker.MaxVersionCount" value="10" />
    </settings>
  </sitecore>
</configuration>